<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" > 
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 
    {% block stylesheet %}
    {% endblock %}

    <title>{% block title %}Home Page{% endblock title %}</title>
</head>
<body class="layout-top-nav">
    <div class="wrapper">
        {% include '_partials/nav.html' %}
        <div class="content-wrapper" style="min-height: 217px">
            <section class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                    </div>
                  </div>
                </div><!-- /.container-fluid -->
            </section>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        {% include '_partials/sidemenu.html' %}
                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script>
async function emailArchive(detail){
    var email_action = detail.attributes[2].value
    var email_id = detail.id
    var url = `http://localhost:8000/email/${email_id}?action=${email_action}`
    let response = await fetch(url);
    let data = await response.json();
    if (data.success == true){
        myFunction('Inbox')
    }
    
}
async function emailReply(email_id, action_type){
    var div = document.getElementsByClassName("card-primary card-outline")
    div[0].remove()
    var node = document.getElementsByClassName("col-md-9")
    var new_div = document.createElement("div");
    new_div.className='card card-primary card-outline'
    document.getElementsByClassName("col-md-9")[0].appendChild(new_div)
    var url = `http://localhost:8000/email/${email_id}?action=reply&from=${action_type}`
    let response = await fetch(url);
    let data = await response.text();
    new_div.innerHTML += data

}
async function emailDetail(detail){
    var email_action = detail.attributes[2].value
    var email_id = detail.id
    var div = document.getElementsByClassName("card-primary card-outline")
    div[0].remove()
    var node = document.getElementsByClassName("col-md-9")
    var new_div = document.createElement("div");
    new_div.className='card card-primary card-outline'
    document.getElementsByClassName("col-md-9")[0].appendChild(new_div)
    var url = `http://localhost:8000/email/${email_id}?action=${email_action}`
    let response = await fetch(url);
    let data = await response.text();
    new_div.innerHTML += data

}
function myFunction(params) {
    var div = document.getElementsByClassName("card-primary card-outline")
    div[0].remove()
    var node = document.getElementsByClassName("col-md-9")
    var new_div = document.createElement("div");
    new_div.className='card card-primary card-outline'
    document.getElementsByClassName("col-md-9")[0].appendChild(new_div)
    var http_response = new XMLHttpRequest()
    http_response.open("GET", `http://localhost:8000/email-list/?type=${params}`)
    http_response.onload = function(e) {
            if (this.status == 200) {
                new_div.innerHTML += this.responseText
                // console.log(this.responseText)
            }else{
                alert("Check the browser console for error")
            }
    };
    http_response.send();
    }

var navMenuMain = document.getElementById('nav_menu_main');
var navMenu = document.getElementById('nav_menu');
document.addEventListener('click', function(event) {
    var isClickInside = navMenuMain.contains(event.target);
    if (!isClickInside) {
        navMenu.classList.remove('show')
    }else{
        if(navMenu.classList.contains('show') == false){
            navMenu.classList.add('show')
        }
    }
});

var navLinkMenu = document.querySelectorAll('.nav-link-menu');
for (let i = 0; i < navLinkMenu.length; i++) {
    navLinkMenu[i].addEventListener("click", function(e) {
        document.querySelector('.nav-link-menu.active').classList.remove('active');
        e.currentTarget.classList.add('active');
    });
}
</script>
{% block scripts %}
{% endblock %}
</html>