
<div class="col-md-9">
  
    <div class="card-header">
      <h3 class="card-title">{{ params }}</h3>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="table-responsive mailbox-messages">
        <table class="table table-hover data-table data-table__noheader">
          <thead>
            <tr>
              <th>a</th>
              <th>g</th>
              <th>capfirst</th>
              <th>capfirst</th>
            </tr>
          </thead>
          <tbody>
            {% for email in emails%}
            <tr class="tr_pointer" 
            id={{ email.id }}
            name={{ params }} 
            onclick="emailDetail(this)"
            >
              
              <td class="mailbox-name">
                  {{ email.sender }}
              </td>
              <td class="mailbox-subject">
                <b>{{ email.subject }}</b>
              </td>
              <td class="mailbox-attachment">
              </td>
              <td class="mailbox-date">{{ email.created_at }}</td>
              {% empty %}
              <b>No email till now</b>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.mail-box-messages -->
    </div>
    <!-- /.card-body -->
  
  <!-- /.card -->
</div>
