
<div class="card-header">
  <h3 class="card-title">Read Mail</h3>
</div>
<!-- /.card-header -->
<div class="card-body p-0">
<div class="mailbox-read-info">
  <h5>Subject: {{  email.subject }}</h5>
  <h6>Receiver:{% for email_user in email.receiver.all %} {{ email_user.email }}, {% endfor %}</h6>
    <span class="mailbox-read-time float-right">{{ email.created_at }}</span></h6>
</div>
<div class="mailbox-read-message">
  <textarea name="message_text"
                    cols="40" rows="10" 
                    class="textarea form-control" id="id_message_text" readonly=true>
{{ email.message_text}}
</textarea>
</div>
<!-- /.mailbox-read-message -->
</div>
<div class="card-footer">
  <div class="float-right">
    <button type="button" id= "{{ email.id}}" onclick="emailReply(this.id)"  class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
    {% if action != 'Sent'%}
    <button type="button" id= "{{ email.id}}"
    {% if email.is_archived %} name="unarchived"{% else %} name="archived"{% endif %} 
    onclick="emailArchive(this)" 
    class="btn btn-default">
      <i class="fa fa-archive"></i> 
      {% if email.is_archived %}UnArchive  {% else %}  Archive {% endif %}
    </button>
    {% endif %}
  </div>
</div>
<!-- /.card-body -->
